@import url("https://fonts.googleapis.com/css2?family=Lato&family=Orbitron:wght@700&display=swap");
html {
  background: rgb(233, 233, 233);
  font-family: "Lato", sans-serif;
}

/* Main container */
#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#title {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-family: "Orbitron", sans-serif;
}

/* Container for gameboards status bars and ship status */
#content {
  display: flex;
  justify-content: space-around;
}

.status-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 1.5em;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gameboard {
  background: white;
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: repeat(10, 10%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid 0.3em black;
}

.active-ship {
  background: gray;
}

.hit {
  background: red;
}

.miss {
  background: lightblue;
}

.ship-hover {
  background: lightgray;
  transform: scale(0.9, 0.9);
}

.board-square {
  border: 1px solid black;
  font-size: 0;
  transition: transform 0.1s, background 0.5s, border 0.1s;
}

.board-square:hover {
  transform: scale(0.9, 0.9);
}

.disable {
  pointer-events: none;
}

.invalid {
  cursor: not-allowed;
}

.attack:hover {
  border: 3px solid yellow;
}

.recent-attack {
  border: 3px solid yellow;
}

.hidden {
  visibility: hidden;
}

.next-turn {
  animation-name: pop;
  animation-duration: 800ms;
}

.winner {
  animation-name: pulse;
  animation-duration: 1400ms;
  animation-iteration-count: infinite;
}

.ship-status {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(1, 1);
  }

  50% {
    opacity: 100%;
    transform: scale(2.5, 2.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }

  50% {
    opacity: 100%;
    transform: scale(2, 2);
  }

  100% {
    transform: scale(1, 1);
  }
}

button {
  text-align: center;
  text-decoration: none;
  background: white;
  border: solid 1px black;
  font-size: 1.2em;
  padding: 0.4em;
  border-radius: 0.2em;
  margin: 1em;
}

button:hover {
  background: lightgray;
}

button:active {
  background: gray;
}
